.main {
    position: absolute;
    top:100px;
    left: 0;
    right: 0;
    
    width: 100%;
    height: 85%;
   
    background-color: rgb(105,105,105)
    /* background-color: rgb(78,205,196);
    background-color: linear-gradient(0deg, rgba(85,98,112,1) 0%, rgba(78,205,196,1) 100%); */
}
#summary{
    text-align: justify;
    font-size: 2em;
}
.image{
    content: url('/src/img/bgc.jpeg');
    border-radius: 50%;
}

.container{
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 100px;
    margin-bottom: -20px;
    left:0;
    flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
    
}

.parent {
    position: absolute;
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    left: 0;
    top: 100px;
    /* width: 100%; 
    height: 100%; */
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;   
  }
  .row{
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center
  }
  @media screen and (max-width: 850px) {
    .row{
    flex-direction:column;
    }
  }

  @media screen and (max-width: 992px) {
    .col {
      flex: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }

  .col{
    border: 1px solid red;
    
    vertical-align: middle;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

 @media screen and (max-width: 480px) {
    .image{
    width: 100%;
    }
} 

@media 
  (-webkit-min-device-pixel-ratio: 480), 
  (min-resolution: 192dpi) { 
  .image {
    background-image: url('/src/img/bgc.jpeg');
    }
  }


 

  .work_exp{
    align-items: left;
  font-size: 2em;
  }

  .work_title{
    
  text-align: left;
    font-size: 2.5em;
  }

  .work_exp p{
    display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  } 

  .keyskill {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 83, 100);
    position:relative;
    width: 360px;
    grid-row-end: 500px;
    overflow: hidden;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -5px 15px 30px rgb(27, 27, 27);
    border-radius: 2em;
  }

.keyskill:hover{
    box-shadow: -20px 50px 100px rgb(44, 83, 100);;
    color: rgb(44, 83, 100);
    transition: 1s;
}

.keyskill::before{
  content: '';
  left: 50%;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgba(255,255,255,0.2);
  transition: 0.5s;
}

.bg{
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  background: #000;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.keyskill:hover ~ .bg,
.quote .box.box1:hover
{
    opacity: 1;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}