.main {
    position: absolute;
    top:100px;
    left: 0;
    right: 0;
    
    width: 100%;
    height: 85%;
   
    background-color: rgb(105,105,105)
    /* background-color: rgb(78,205,196);
    background-color: linear-gradient(0deg, rgba(85,98,112,1) 0%, rgba(78,205,196,1) 100%); */
}

.image{
    content: url('/src/img/bgc.jpeg');
}

.container{
    position: absolute;
    top: 110px;
    display: flex;
    flex-direction: column;
    right: 0;
    
}

.parent {
    position: absolute;
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    left: 0;
    top: 100px;
    /* width: 100%; 
    height: 100%; */
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;   
  }
  .row{
    flex-direction:row;
    display: flex;
    
  }
  @media screen and (max-width: 600px) {
    .row{
    flex-direction:column;
    }
}

/* @media screen and (max-width: 480px) {
    .image{
    width: 100%;
    }
} */

@media 
  (-webkit-min-device-pixel-ratio: 480), 
  (min-resolution: 192dpi) { 
  .image {
    background-image: url('/src/img/bgc.jpeg');
}
  }


  
  .child1 {
   
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }
  .child2 {
    
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .col{
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }
 