.footer{
    position:absolute;
    left:0;
    bottom:0px;
    right:0;
    width: 100%;
    background-color: black;
    /* background: rgb(78,205,196);
    background: linear-gradient(0deg, rgba(85,98,112,1) 0%, rgba(78,205,196,1) 100%); */
}